<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn" style="background-color: rgba(116, 55, 124, 0.993);">

<br>
  <div class="fota" style="color: cyan;">
  {% if user.is_authenticated %}
    

    <a class="nav-link waves-effect" href="{% url 'logout' %}" style="color: rgb(226, 227, 235);"><strong>Log-Out <i class="fas fa-users"></i></strong></a>
    {% else %}

    <a class="nav-link waves-effect" href="{% url 'signup' %}"> Sign-Up &nbsp<i class="fas fa-sign-in-alt"></i></a>
    {% endif %}
  </h4>
   
  <!--/.Call to action-->

  <hr class="my-4">

  <!-- Socials -->
 <h3> Contact us:</h3>
 

  <a href="tel:0708683046" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});"><p class="call-button"  class="btn btn-primary btn-md my-0 p" style="color: white;" ><i class="fas fa-phone-alt"></i>  Call Us:&nbsp: 0712345678</p>
  </a>

 <p style="color: white;"><i class="fas fa-sms"></i> &nbsp SMS : 0712345678</p>

  <div class="pb-4">
    <h2>   <a href="https://www.facebook.com/mdbootstrap" target="_blank" style="color: white;">
      <i class="fab fa-facebook" ></i>
    </a>
    &nbsp | &nbsp
    <a href="https://twitter.com/MDBootstrap" target="_blank" style="color: white">
      <i class="fab fa-instagram"></i></i></i>
    </a></h2>

      <!--
    <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://dribbble.com/mdbootstrap" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://pinterest.com/mdbootstrap" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="http://codepen.io/mdbootstrap/" target="_blank">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div>-->
  <!-- Social icons -->

  <br><br>
  <p>Doorstep is a shop located in Ruiru,Kihunguro.<br>
    Mainly focused on selling quality products,
    providing quality customer service,<br>
    without forgeting the affoirdable prices.<br>
    <strong>Shop With Us</strong> 
    <br>and share the experience.
  </p>
  <br><br>
  <h5 style="color: black;"><i class="fa fa-copyright" aria-hidden="true"> Copyright P. Karanja 2021</i></h5>

  

</footer>